$aquamarine: #6ec4ab;
$dark-jungle:#212529;
$gainsboro:#d4d7e4;
$pastel-gray: #cdcdcd;
$shamrock: #49d0b0;
$tiger-eye:#e98846;
$dim-gray:#707070;
$ghost-white: #f6f7fc;
$cadet: #4c4e6f1F;

$white: #FFFFFF;
$black: #000000;
